.button{
	background-color: rgb(0,48,143);
	font-weight: 300;
	color: rgb(240,240,240);
	padding:10px 20px;
	border-radius: 10px;
	border: solid 1px;
	font-family: 'Roboto', sans-serif;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
}